<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body>
    <div>
        <a th:href="@{~/}">Click here to go back!</a>
        <p>Please enter your credentials</p>
    </div>
    <div>
        <form th:action="@{/login}" method="post">
            <label for="username">Username(=email):</label>
            <input type="text" id="username" name="username" autofocus="autofocus" placeholder="email"/> <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"/> <br>
            <input type="submit" value="Log in" />
        </form>
    </div>
</body>
</html>