<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
    <div>
        <a href="http://localhost:8989/">Home Page</a>
        <br><br><br>
    </div>
    <div>
        <script>
            function updateTaskStatus(taskId, checkbox) {
                const isChecked = checkbox.checked;
    
                fetch(`http://localhost:8989/tasks/${taskId}/${isChecked}`, {
                    method: 'PUT',
                }).then(response => {
                    if (!response.ok) {
                        alert("Failed to update task status");
                    }
                }).catch(error => {
                    console.error("Error updating task status:", error);
                    alert("An error occurred while updating the task");
                });
            }
        </script>
        <h1>Task List:</h1>
        <ol>
            <li th:each="task : ${tasks}">
                <span th:text="${task.title}">*title goes here*</span>
                <br>
                <span th:text="${task.description}">*description goes here*</span>
                <input type="checkbox" th:checked="${task.isDone}"
                        th:onchange="updateTaskStatus([[${task.idString}]], this)"/>
            </li>
        </ol>
    </div>
</body>
</html>